@model requisicoesGlobais.Classes.Usuarios

@{
	Layout = null;
}


<html lang="pt-br">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/Content/reset.css" />
	<link rel="stylesheet" href="~/Content/main.css" />
	<link rel="stylesheet" href="~/Content/cadastro.css" />
	<title>APP - ALMIR - LOGIN</title>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="superior">
				<img src="~/img/fatec-logo.png" alt="Logo Fatec" />
			</div>
			@using (Html.BeginForm("Login", "Login", FormMethod.Post))
			{
				<div class="cadastro">
					<div class="campos-cadastro">
						<div class="divisao-campos">
							<div class="campo nome">
								<label for="nome">Nome</label>
								@Html.TextBoxFor(n => n.nome_usuario)
							</div>
							<div class="campo email">
								<label for="email">Email</label>
								@Html.TextBoxFor(e => e.email_usuario)
							</div>
						</div>

						<div class="divisao-campos">
							<div class="campo nome">
								<label for="cpfCad">CPF</label>
								@Html.TextBoxFor(c => c.cpf_usuario)
							</div>
							<div class="campo email">
								<label for="ra">RA</label>
								@Html.TextBoxFor(r => r.ra_usuario)
							</div>
						</div>

						<div class="divisao-campos">
							<div class="campo senha">
								<label for="senhaCad">Senha</label>
								@Html.PasswordFor(s => s.senha_usuario)
							</div>
							<div class="campo senha">
								<label for="confirmeSenha">Confirme a senha</label>
								@Html.PasswordFor(s => s.senha_usuario)
							</div>
						</div>
					</div>
				</div>
			}
			<div class="botoes-lc">
				<button class="btn danger" type="submit">Cadastrar</button>
				<button class="btn light">@Html.ActionLink("Entrar", "../Login/Login")</button>

			</div>
		</div>
	</div>
</body>

</html>